.jumbotron
  h1 Get Betting!
  p.lead Coinswing is an online betting website where bettors stake bitcoins on trending YouTube videos.
  a.btn.btn-primary.btn-large(href="/getting-started") Get started
hr(style="margin: 60px 0;")
